<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2>Register</h2>
  <hr>
  <div [ngClass]="{ 'has-error': registerForm.get('username').errors && registerForm.get('username').touched }">
      <input type="text" placeholder="Username" formControlName="username">
      <span *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched">Username required</span>
  </div>
  <div [ngClass]="{ 'has-error': registerForm.get('password').errors && registerForm.get('password').touched }">
      <input type="password" placeholder="Password" formControlName="password">
      <span *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">Password required</span>
      <span *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">Password should have a minimum of 4 characters</span>
      <span *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">Password should have a maximum of 8 characters</span>
  </div>

 <div [ngClass]="{ 'has-error': registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched 
                                ||        registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched }">
        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
        <span *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">Confirm password is required</span>
        <span *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched">Confirm password should match Password</span>
  </div> 

  <div>
    <button type="submit" [disabled]="!registerForm.valid">Register</button>
    <button type="button" (click)="cancel()">Cancel</button>
  </div>
</form>

<p>Form Value: {{ registerForm.value | json }}</p>
<p>Form Status: {{ registerForm.status | json }}</p>
