<form #loginForm="ngForm" (ngSubmit)="login()">
  <input type="text" #username="ngModel" name="username" [(ngModel)]="model.username" required>
  <input type="password" #password="ngModel" name="password" [(ngModel)]="model.password" required>
  <button type="submit" [disabled]="!loginForm.valid">Sign In</button>
</form>
<h1>{{ model.username }}</h1>
<h1>{{ model.password }}</h1>

<pre>
  Form Valid: {{ loginForm.valid}}
  Form Touched: {{ loginForm.touched }}
  Form Dirty: {{ loginForm.dirty }}
  Form Values: {{ loginForm.value | json }}
  Username Valid: {{ username.valid }}
  Username Touched: {{ username.touched }}
  Username Dirty: {{ username.dirty }}
  Username Value: {{ username.value }}
  Password Valid: {{ password.valid }}
  Password Touched: {{ password.touched }}
  Password Dirty: {{ password.dirty }}
  Password Value: {{ password.value }}
</pre>
