<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2>Register</h2>
  <hr>

    <!-- gender -->
    <div style="margin-bottom:10px">
      <label class="control-label" style="margin-right:10px">I am a: </label>
      <label class="radio-inline">
              <input type="radio" value="male" formControlName="gender">Male
            </label>
      <label class="radio-inline">
                <input type="radio" value="female" formControlName="gender">Female
              </label>
    </div>

    <!-- username -->
  <div style="margin-bottom:10px" [ngClass]="{ 'has-error': registerForm.get('username').errors && registerForm.get('username').touched }">
      <input type="text" placeholder="Username" formControlName="username">
      <span *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched">Username required</span>
  </div>

      <!-- displayName -->
  <div style="margin-bottom:10px" [ngClass]="{'has-error': registerForm.get('displayName').touched && registerForm.get('displayName').hasError('required')}">
        <input type="text" placeholder="Display name" formControlName="displayName">
        <span *ngIf="registerForm.get('displayName').touched && registerForm.get('displayName').hasError('required')">Display name is required</span>
  </div>
    

    <!-- date of birth -->
  <div style="margin-bottom:10px" [ngClass]="{'has-error': registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')}">
    <input type="date" placeholder="Date of Birth" formControlName="dateOfBirth">
    <span *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">Date of birth is required</span>
  </div>

  <!-- city -->
  <div style="margin-bottom:10px" [ngClass]="{'has-error': registerForm.get('city').touched && registerForm.get('city').hasError('required')}">
    <input type="text" placeholder="City" formControlName="city">
    <span *ngIf="registerForm.get('city').touched && registerForm.get('city').hasError('required')">City is required</span>
  </div>

  <!-- country -->
  <div style="margin-bottom:10px" [ngClass]="{'has-error': registerForm.get('country').touched && registerForm.get('country').hasError('required')}">
    <input type="text" placeholder="Country" formControlName="country">
    <span *ngIf="registerForm.get('country').touched && registerForm.get('country').hasError('required')">Country is required</span>
  </div>

  <!-- postcode -->
  <div style="margin-bottom:10px" [ngClass]="{'has-error': registerForm.get('postcode').touched && registerForm.get('postcode').errors}">
    <input type="text" placeholder="Postcode" formControlName="postcode">
    <span *ngIf="registerForm.get('postcode').touched && registerForm.get('postcode').hasError('required')">Postcode is required</span>
    <span *ngIf="registerForm.get('postcode').touched && registerForm.get('postcode').hasError('pattern')">Postcode must be a valid postcode</span>
  </div>

    <!-- phone -->
    <div style="margin-bottom:10px" [ngClass]="{'has-error': registerForm.get('phone').touched && registerForm.get('phone').errors}">
      <input type="text" placeholder="Phone" formControlName="phone">
      <span *ngIf="registerForm.get('phone').touched && registerForm.get('phone').hasError('required')">Phone number is required</span>
      <span *ngIf="registerForm.get('phone').touched && registerForm.get('phone').hasError('pattern')">Phone number must be a valid phone number</span>
    </div>

    <!-- password -->
  <div style="margin-bottom:10px" [ngClass]="{ 'has-error': registerForm.get('password').errors && registerForm.get('password').touched }">
      <input type="password" placeholder="Password" formControlName="password">
      <span *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">Password required</span>
      <span *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">Password should have a minimum of 4 characters</span>
      <span *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">Password should have a maximum of 8 characters</span>
  </div>

    <!-- confirm password -->
 <div style="margin-bottom:10px" [ngClass]="{ 'has-error': registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched 
                                ||        registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched }">
        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
        <span *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">Confirm password is required</span>
        <span *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched">Confirm password should match Password</span>
  </div> 

  <div style="margin-bottom:10px">
    <button type="submit" [disabled]="!registerForm.valid">Register</button>
    <button type="button" (click)="cancel()">Cancel</button>
  </div>
</form>

<p>Form Value: {{ registerForm.value | json }}</p>
<p>Form Status: {{ registerForm.status | json }}</p>